<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Estudios</title>
 <div th:fragment="CSS">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</div>
</head>
<body>

  <tbody th:each="estudio: ${estudios}" th:remove="tag">
      <tr>
   		 <td th:text="${estudio.id}">..</td>
         <td th:text="${estudio.nombre}">..</td>
         <td th:text="${estudio.foto}">..</td>
         <td><a class="btn btn-primary btn-lg active" role="button" th:href="@{'/estudio/' + ${estudio.id}}">Ver Mas</a></td>
         <td><a class="btn btn-danger btn-lg active" role="button" th:href="@{'/deleteEstudio/' + ${estudio.id}}">Eliminar</a></td>
      </tr>
  </tbody>
    <td><a class="btn btn-danger btn-lg active" role="button" th:href="@{'/newStudy'}">Nuevo estudio</a></td>
</body>
</html>