<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text = "${estudio}">...</title>
</head>
<body>
      
	     <img height="120px" th:src="${imagen}"/>
	     <h3 th:text= "${nombre}">..</h3>
         <h3 th:text="${anio}">..</h3>
  		 <h3 th:text="${presidente}">..</h3>
	 	 <p th:text="${pais}" class="lead">..</p>
         <a class="btn btn-primary btn-lg active" role="button" th:href="@{'/estudio/' + {id}}">Peliculas</a>
      
</body>
</html>