<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title th:text = "${estudio}"></title>
</head>

<body>
		 <h3 th:text="${pelicula.nombre}">..</h3>
         <h3 th:text="${pelicula.anio}">..</h3>
  		 <h3 th:text="${pelicula.director}">..</h3>
  		 <h3 th:text="${pelicula.foto}">..</h3>
	 	 <p th:text="${pelicula.descripcion}" class="lead">..</p>

</body>
</html>