<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text ="${estudio}" > ..</title>
</head>

<body>
<!--  <h4>Peliculas</h4> -->

	<tbody th:each="pelicula: ${peliculas}" th:remove="tag">
	  <tr>
   		 <td th:text="${nombre}">..</td>
         <td th:text="${foto}">..</td>
         <td th:text="${anio}">..</td>
         <a class="btn btn-primary btn-lg active" role="button" th:href="@{'/filmsestudio/' + {id}}">Detalles</a>
      </tr>
	</tbody>

</body>
</html>