<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	 <tbody th:each="pelicula: ${peliculas}" th:remove="tag"> 
	  <tr>
   		 <td th:text="${pelicula.nombre}">..</td>
         <td th:text="${pelicula.foto}">..</td>
         <td th:text="${pelicula.anio}">..</td>
         <a class="btn btn-primary btn-lg active" role="button" th:href="@{'/peliculas/' + ${id}}">Detalles</a>
      </tr>
	</tbody>
	
</body>
</html>