<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
  <style> 
  .button {
  background-color: tomato;
  color: white;
  }</style>
  
  <h2 class = "button">
<tr>
  <td colspan="2"><a class="btn btn-danger btn-lg active" role="button" th:href="@{'/films'}">Ver peliculas</button> </td>
</tr>
<tr>
  <td colspan="2"> <a class="btn btn-danger btn-lg active" role="button" th:href="@{'/studios'}">Ver estudios</a></td>
</tr>
  </h2>

</body>
</html>